.keys{
    /* margin-top: 15px; */
    grid-area: j;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
  }
  .keys p{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-right: 10px;
    font-weight: bolder;
    
  }
  .keys svg{
    margin-top: 5px;
  }